github "Alamofire/Alamofire" ~> 4.8.1
github "tristanhimmelman/AlamofireObjectMapper" ~> 5.2
github "Alamofire/AlamofireImage" ~> 3.5
github "tristanhimmelman/ObjectMapper" ~> 3.4
github "SVProgressHUD/SVProgressHUD" ~> 2.2.5
